:root {
  background-color: #000000;
  padding: auto;
}

.card {
  color: white;
  width: 820px;
  padding: 30px;
  border-radius: 4rem;
  background-color: #0c0c93;
  img {
    border-radius: 2rem;
  }
}